In [19]:
import pandas as pd
import numpy as np

In [20]:
df=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Summary")

In [21]:
df["Margin_dup"]=df["Margin"].replace("[A-Za-z]","",regex=True)

In [22]:
df["Margin_dup"]=df["Margin_dup"].astype(int)

In [23]:
df["bat_first_dup"]=df["bat_first_score"].astype(str).apply(lambda x: "0"+x if len(x)<3 else x[:3])

In [26]:
df["bat_first_dup"]=df["bat_first_dup"].astype(int)

In [27]:
df.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,id,bat_first,bat_second,bat_first_score,bat_second_score,Scorecard,Margin_dup,bat_first_dup
0,India,Australia,Australia,6 wickets,Ahmedabad,2023-11-19,4705.0,India,Australia,240.0,241/4,https://www.espncricinfo.com/https://www.espnc...,6,240
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,2023-11-16,4704.0,South Africa,Australia,212.0,215/7,https://www.espncricinfo.com/https://www.espnc...,3,212
2,India,New Zealand,India,70 runs,Wankhede,2023-11-15,4703.0,India,New Zealand,397/4,327.0,https://www.espncricinfo.com/https://www.espnc...,70,397
3,India,Netherlands,India,160 runs,Bengaluru,2023-11-12,4702.0,India,Netherlands,410/4,250.0,https://www.espncricinfo.com/https://www.espnc...,160,410
4,England,Pakistan,England,93 runs,Eden Gardens,2023-11-11,4701.0,England,Pakistan,337/9,244.0,https://www.espncricinfo.com/https://www.espnc...,93,337

### Average of First inning Score

In [28]:
df["bat_first_dup"].mean()

289.4791666666667

### Average of second inning score

In [9]:
df["bat_second_dup"]=df["bat_second_score"].astype(str).apply(lambda x: "0"+x if len(x)<3 else x[:3])

In [10]:
# df["bat_second_dup"].unique()
df["bat_second_dup"] = df["bat_second_dup"].replace({'(\d+)\.': r'\1'}, regex=True)

In [11]:
df["bat_second_dup"]=df["bat_second_dup"].astype(int)

In [12]:
df["bat_second_dup"].mean()

223.83333333333334

### avg first innings winning score

In [13]:
def first_inning(vals):
    if vals["Winner"]==vals["bat_first"]:
        return 1
    else:
        return 0

In [14]:
df["first_inning_winnig"]=df.apply(first_inning,axis=1)

In [15]:
df[df["first_inning_winnig"]==1]["bat_first_dup"].mean()

336.0869565217391

### avg Second innings winning score

In [16]:
def Second_inning(vals):
    if vals["Winner"]==vals["bat_second"]:
        return 1
    else:
        return 0

In [17]:
df["second_inning_flag"]=df.apply(Second_inning,axis=1)

In [18]:
# df[df["second_inning_flag"==1]]["bat_second_dup"].mean()
# df[df["second_inning_flag"]==1]["bat_second_dup"].mean()
ca=df.groupby("second_inning_flag").bat_second_dup.mean()
ca[1]

240.6

### Average of first innnings winning score stadium wise

In [19]:
df[df["first_inning_winnig"]==1].groupby("Ground").bat_first_dup.mean()

Ground
Ahmedabad       286.000000
Bengaluru       388.500000
Chennai         288.000000
Delhi           370.333333
Dharamsala      332.333333
Eden Gardens    297.333333
Hyderabad       304.000000
Lucknow         270.000000
Pune            348.000000
Wankhede        383.750000
Name: bat_first_dup, dtype: float64

### Average of first innnings winning score team wise

In [20]:
df[df["first_inning_winnig"]==1].groupby("bat_first").bat_first_dup.mean()

bat_first
Afghanistan     284.000000
Australia       360.000000
England         346.666667
India           343.800000
Netherlands     237.000000
New Zealand     305.000000
Pakistan        286.000000
South Africa    375.400000
Name: bat_first_dup, dtype: float64

### Average of second innnings winning score team wise

In [21]:
df[df["first_inning_winnig"]==0].groupby("bat_second").bat_second_dup.mean()

bat_second
Afghanistan     236.333333
Australia       254.200000
Bangladesh      220.000000
India           240.200000
New Zealand     234.333333
Pakistan        250.000000
South Africa    259.000000
Sri Lanka       211.500000
Name: bat_second_dup, dtype: float64

### Average of Margin of runs stadium wise

In [22]:
df[df["first_inning_winnig"]==1].groupby("bat_first").Margin_dup.mean()

bat_first
Afghanistan      69.00
Australia       102.25
England         130.00
India           175.00
Netherlands      62.50
New Zealand     124.00
Pakistan         81.00
South Africa    160.80
Name: Margin_dup, dtype: float64

In [23]:
df[df["first_inning_winnig"]==1].groupby("Ground").bat_first_dup.mean()

Ground
Ahmedabad       286.000000
Bengaluru       388.500000
Chennai         288.000000
Delhi           370.333333
Dharamsala      332.333333
Eden Gardens    297.333333
Hyderabad       304.000000
Lucknow         270.000000
Pune            348.000000
Wankhede        383.750000
Name: bat_first_dup, dtype: float64