In [73]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url="https://www.espncricinfo.com/records/tournament/averages-bowling/icc-cricket-world-cup-2023-24-15338"
r=requests.get(url)
r

In [ ]:
soup=BeautifulSoup(r.text,"html.parser")
table = soup.find("table", class_=lambda x: x and "ds-table" in x)

In [ ]:
table

In [ ]:
rows=table.find("thead",class_="ds-bg-fill-content-alternate ds-text-left")

In [ ]:
head=rows.find_all("td")
headers=[]
for i in range(len(head)):
    soup1=head[i]
    x=soup1.find("span",class_="ds-cursor-pointer")
    headers.append(x.text)

In [ ]:
headers

In [ ]:
player_details=[]
body=table.find_all("tr",class_="ds-table-row-compact-bottom")

In [ ]:
l=[]
for i in range(len(body)):
    sample=[]
    nam=body[i].find("span",class_="ds-text-tight-s").text
    newl=body[i].find_all("td","ds-text-right")
    sample.append(nam)
    count=0
    for j in range(len(newl)):
        count+=1
        data=newl[j].find("span","").text
        sample.append(data)
    l.append(sample)
    print(count)

In [ ]:
df=pd.DataFrame(l,columns=headers)
df

In [106]:
count=table.find_all("tr","ds-table-row-compact-top")

In [107]:
country=[]
for i in range(len(count)):
    country.append(count[i].find("td","ds-min-w-max").text)

In [108]:
heads=["country"]

In [109]:
df2=pd.DataFrame(country,columns=heads)

In [ ]:
df2

In [116]:
df.reset_index(inplace=True)

In [120]:
Bowling_data=df.merge(df2,on="index")

In [122]:
Bowling_data.drop(columns="index")

,Player,Span,Mat,Inns,Balls,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,5,10,Ct,St,country
0,SA Abbott,2023-2023,1,1,60,-,61,2,2/61,30.50,6.10,30.0,-,-,1,-,Australia
1,Abdullah Shafique,2023-2023,8,-,0,-,-,-,-,-,-,-,-,-,2,-,Pakistan
2,CN Ackermann,2023-2023,9,9,284,2,234,5,2/39,46.80,4.94,56.8,-,-,3,-,Netherlands
3,Agha Salman,2023-2023,3,2,30,-,46,-,-,-,9.20,-,-,-,3,-,Pakistan
4,MM Ali,2023-2023,6,6,256,-,248,5,3/42,49.60,5.81,51.2,-,-,4,-,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,CR Woakes,2023-2023,8,8,330,1,298,10,4/54,29.80,5.41,33.0,-,-,3,-,England
147,MA Wood,2023-2023,7,7,324,1,349,6,2/50,58.16,6.46,54.0,-,-,1,-,England
148,SA Yadav,2023-2023,7,1,12,-,17,-,-,-,8.50,-,-,-,1,-,India
149,WA Young,2023-2023,6,-,0,-,-,-,-,-,-,-,-,-,2,-,New Zealand
150,A Zampa,2023-2023,11,11,576,1,515,23,4/8,22.39,5.36,25.0,-,-,2,-,Australia

In [ ]:
Bowling_data.columns

In [126]:
Bowling_data=Bowling_data[[ 'Player', 'country', 'Span', 'Mat', 'Inns', 'Balls', 'Mdns', 'Runs',
       'Wkts', 'BBI', 'Ave', 'Econ', 'SR', '5', '10', 'Ct', 'St', ]]

In [ ]:
Bowling_data.rename(columns={"country":"Country"},inplace=True)

In [131]:
Bowling_data.to_csv("Bowling_data.csv",index=False)