In [1]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Bowling_data")
df.replace('-',0,inplace=True)
df.head()

,Player,Country,Span,Mat,Inns,Balls,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,5.0,10.0,Ct,St
0,Sean Abbott,Australia,2023-2023,1.0,1.0,60.0,0.0,61.0,2.0,2/61,30.5,6.10,30.0,0.0,0,1.0,0.0
1,Abdullah Shafique,Pakistan,2023-2023,8.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.00,0.0,0.0,0,2.0,0.0
2,Colin Ackermann,Netherlands,2023-2023,9.0,9.0,284.0,2.0,234.0,5.0,2/39,46.8,4.94,56.8,0.0,0,3.0,0.0
3,Agha Salman,Pakistan,2023-2023,3.0,2.0,30.0,0.0,46.0,0.0,0,0.0,9.20,0.0,0.0,0,3.0,0.0
4,Moeen Ali,England,2023-2023,6.0,6.0,256.0,0.0,248.0,5.0,3/42,49.6,5.81,51.2,0.0,0,4.0,0.0

In [9]:
df2=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Batting_score_card_all_matches")
count=1
df2["Position"]=0
current_team = df2['innings'][0]
for i in range(0,len(df2)):
    if df2['innings'][i] != current_team:
        df2['Position'][i] = 1
        count = 2
        current_team = df2['innings'][i]
    else:
        df2['Position'][i] = count
        count+=1
result = df2.groupby("Batsman")["Position"].apply(lambda x: x.mode().iloc[0]).reset_index()
result.rename(columns={
    "Batsman":"Player"
},inplace=True)

c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [10]:
df=df.merge(result,on="Player")

In [11]:
df

,Player,Country,Span,Mat,Inns,Balls,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,5.0,10.0,Ct,St,Position
0,Abdullah Shafique,Pakistan,2023-2023,8.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0,2.0,0.0,1
1,Colin Ackermann,Netherlands,2023-2023,9.0,9.0,284.0,2.0,234.0,5.0,2/39,46.80,4.94,56.8,0.0,0,3.0,0.0,3
2,Agha Salman,Pakistan,2023-2023,3.0,2.0,30.0,0.0,46.0,0.0,0,0.00,9.20,0.0,0.0,0,3.0,0.0,6
3,Moeen Ali,England,2023-2023,6.0,6.0,256.0,0.0,248.0,5.0,3/42,49.60,5.81,51.2,0.0,0,4.0,0.0,7
4,Charith Asalanka,Sri Lanka,2023-2023,9.0,1.0,6.0,0.0,10.0,0.0,0,0.00,10.00,0.0,0.0,0,4.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Chris Woakes,England,2023-2023,8.0,8.0,330.0,1.0,298.0,10.0,4/54,29.80,5.41,33.0,0.0,0,3.0,0.0,8
142,Mark Wood,England,2023-2023,7.0,7.0,324.0,1.0,349.0,6.0,2/50,58.16,6.46,54.0,0.0,0,1.0,0.0,11
143,Suryakumar Yadav,India,2023-2023,7.0,1.0,12.0,0.0,17.0,0.0,0,0.00,8.50,0.0,0.0,0,1.0,0.0,6
144,Will Young,New Zealand,2023-2023,6.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0,2.0,0.0,2
145,Adam Zampa,Australia,2023-2023,11.0,11.0,576.0,1.0,515.0,23.0,2024-08-04 00:00:00,22.39,5.36,25.0,0.0,0,2.0,0.0,10

In [45]:
Bowlers=df[df["Position"]>=8]

### Highest wickets top 10

In [48]:
Bowlers.sort_values(by="Wkts",ascending=False)[:10]

,Player,Country,Span,Mat,Inns,Balls,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,5.0,10.0,Ct,St,Position
78,Mohammed Shami,India,2023-2023,7.0,7.0,293.0,4.0,257.0,24.0,7/57,10.70,5.26,12.2,3.0,0,2.0,0.0,8
145,Adam Zampa,Australia,2023-2023,11.0,11.0,576.0,1.0,515.0,23.0,2024-08-04 00:00:00,22.39,5.36,25.0,0.0,0,2.0,0.0,10
61,Dilshan Madushanka,Sri Lanka,2023-2023,9.0,9.0,470.0,4.0,525.0,21.0,5/80,25.00,6.70,22.3,1.0,0,0.0,0.0,11
13,Jasprit Bumrah,India,2023-2023,11.0,11.0,551.0,9.0,373.0,20.0,4/39,18.65,4.06,27.5,0.0,0,1.0,0.0,9
18,Gerald Coetzee,South Africa,2023-2023,8.0,8.0,381.0,1.0,396.0,20.0,4/44,19.80,6.23,19.0,0.0,0,3.0,0.0,8
112,Shaheen Shah Afridi,Pakistan,2023-2023,9.0,9.0,486.0,3.0,481.0,18.0,5/54,26.72,5.93,27.0,1.0,0,3.0,0.0,9
36,Josh Hazlewood,Australia,2023-2023,11.0,11.0,559.0,8.0,449.0,16.0,3/38,28.06,4.81,34.9,0.0,0,4.0,0.0,11
108,Mitchell Santner,New Zealand,2023-2023,10.0,10.0,556.0,4.0,449.0,16.0,5/59,28.06,4.84,34.7,1.0,0,5.0,0.0,8
32,Haris Rauf,Pakistan,2023-2023,9.0,9.0,474.0,1.0,533.0,16.0,3/43,33.31,6.74,29.6,0.0,0,1.0,0.0,11
122,Mitchell Starc,Australia,2023-2023,10.0,10.0,522.0,2.0,528.0,16.0,3/34,33.00,6.06,32.6,0.0,0,6.0,0.0,9

In [42]:
Bowlers=Bowlers[(Bowlers["Inns"]>6) & (Bowlers["Econ"]<=6) & (Bowlers["SR"]<30)]

In [43]:
Bowlers["SR"].median()

27.0

In [44]:
Bowlers

,Player,Country,Span,Mat,Inns,Balls,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,5.0,10.0,Ct,St,Position
13,Jasprit Bumrah,India,2023-2023,11.0,11.0,551.0,9.0,373.0,20.0,4/39,18.65,4.06,27.5,0.0,0,1.0,0.0,9
40,Matt Henry,New Zealand,2023-2023,7.0,7.0,326.0,3.0,315.0,11.0,3/40,28.63,5.79,29.6,0.0,0,5.0,0.0,9
78,Mohammed Shami,India,2023-2023,7.0,7.0,293.0,4.0,257.0,24.0,7/57,10.70,5.26,12.2,3.0,0,2.0,0.0,8
112,Shaheen Shah Afridi,Pakistan,2023-2023,9.0,9.0,486.0,3.0,481.0,18.0,5/54,26.72,5.93,27.0,1.0,0,3.0,0.0,9
145,Adam Zampa,Australia,2023-2023,11.0,11.0,576.0,1.0,515.0,23.0,2024-08-04 00:00:00,22.39,5.36,25.0,0.0,0,2.0,0.0,10